PORT=3030
JWT_SECRET="password"
LDAP_URL="ldap://DOMAIN.ac.uk:PORT"
LDAP_BIND_DN="ldapuser"
LDAP_BIND_CREDENTIALS="password"
LDAP_SEARCH_BASE="OU=NBIUsers,dc=nbi,dc=ac,dc=uk"
LDAP_SEARCH_FILTER="(sAMAccountName={{username}})"
ADMIN_PASSWORD="password"
TEMP_UPLOAD_PATH="Not sure if this is actually used? TODO"
DESTINATION_UPLOAD_PATH="/var/destination"

#sync with komondor-web
DATASTORE_ROOT="/var/datastore-root"

FULL_RECORDS_ACCESS_USERS=["some", "usernames", "here"]