.idea/
*.iml

node_modules/
.env
wip/

dist/
coverage/

.DS_Store

#uploads
uploads/
datastore/
files/
GEORGE_delete_uploaded_files_from_FILES_directory
nginx/http-verbs-root-context.conf
fake-mnt/
GEORGE_CHECK_USERS_LDAP_GROUPS.txt

# Written by the CI audit step; running that step locally leaves it behind.
audit.json
